<% meta_tag :description, "The homepage for Employee Empowerment, the app working to end the wage gap." %>
<h1>Welcome to Emp Emp</h1>
<h2>The <b>Emp</b>loyee <b>Emp</b>owerment app!</h2>
<img src="/Logo.png" width="400" height="110" alt="Employee Empowerment Logo">

<h2>Welcome to Employee Empowerment, the website seeking to destroy the wage gap and empower employees.</h2>

<p>
  Here you can <b><%= link_to 'check how fair registered companies are', controller: 'companies' %></b>. Please try the site out and report any issues to us via <a href="https://github.com/EmployeeEmpowerment/EmpEmp/issues">GitHub</a>.
</p>

<a class="twitter-timeline" href="https://twitter.com/EmpEmp8" data-widget-id="556414646367035392">Tweets by @EmpEmp8</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><br>

<%= link_to 'Companies', controller: 'companies' %>