<center>
  <h1>Welcome to Emp Emp</h1>
  <h2>The <b>Emp</b>loyee <b>Emp</b>owerment app!</h2>
  <img src="/Logo.png" width="400" height="110" alt="Employee Empowerment Logo">
</center>

<h2>Welcome to Employee Empowerment, the website seeking to <a href="https://www.linkedin.com/pulse/help-wanted-employee-empowerment-inc-forest-handford/">destroy the wage gap</a>.</h2>

<p>
  Here you can <b><%= link_to 'check how fair registered companies are', controller: 'companies' %></b>. Please try the site out and report any issues to us via <a href="https://github.com/EmployeeEmpowerment/EmpEmp/issues">GitHub</a>.
</p>
<center><%= link_to 'Companies', controller: 'companies' %></center>