<% content_for :title, "Edit Employee Review of #{@company.name}" %>
<% meta_tag :description, "Edit your employee review of #{@company.name}." %>
<h1>Edit Employee Review of <%= link_to @company.name, company_path(@company.id) %></h1>

<%= render 'form', company: @company, employee_rating: @employee_rating %>