<% # Meta information for the <head> section %>
<% content_for :title, "Edit #{@company.name}" %>
<% meta_tag :description, "Edit information about #{@company.name}." %>
<h1><%= yield(:title) %></h1>

<%= render 'form', company: @company %>

<p>
  <%= link_to 'Back', company_path(@company) %>
</p>