<h1 align='center'>Edit Executive of <%= link_to @company.name, company_path(@company.id) %></h1>

<%= render 'form', company: @company, executive: @executive %>

<p align='center'><%= link_to 'Back', company_path(@company.id) %></p>