<h1>Add Executive to <%= link_to @company.name, company_path(@company.id) %></h1>

<%= render 'form', company: @company, executive: @executive %>

<p><%= link_to 'Back', company_path(@company.id) %></p>